* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  vertical-align: top;
}
figure {
  margin: 0;
}
input,
select {
  outline: 0;
  border: 0;
  border-radius: 0;
  appearance: none;
}
p {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
.layout {
  display: table;
  height: 100%;
  width: 100%;
}
.layout-header {
  display: table-header-group;
}
.layout-body {
  display: table-row-group;
}
.layout-bottom {
  display: table-footer-group;
}
.header {
  height: 136px;
  background: #f8f8f8;
  padding-top: 18px;
}
.logo {
  display: table;
  margin: auto;
  padding-bottom: 5px;
}
.logo img {
  width: 56px;
}
.text {
  font-weight: 600;
  font-size: 14.5px;
}
.title {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2px;
}
.subtitle {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
}
.button {
  color: #fff;
  background-color: #f99945;
  display: table;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}
.input-wrapper {
  display: flex;
  align-items: center;
}
.icon {
  margin-top: 4px;
}
.input-container {
  border-bottom: solid 1px #f2f2f2;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.input-container-text {
  width: 75px;
}
.input-container-input {
  flex: 1;
}
.input,
.select {
  background-color: #fff;
  font-size: 15px;
  width: 100%;
}
