
// LAYOUT
.layout
	display table
	height 100%
	width 100%
	&-header
		display table-header-group
	&-body
		display table-row-group
	&-bottom
		display table-footer-group


// HEADER
.header
	height 136px
	background gray-light
	padding-top 18px
	
.logo
	display table
	margin auto
	padding-bottom 5px
	// padding-bottom 10px
	img
		width 56px
		// width 50px
	// background partner-color
// 	padding-top global-padding-top
// 	padding-left global-padding-left
// 	padding-right global-padding-right
// 	padding-bottom 5px
// .logo
// 	width 68px
// 	display table
// 	margin-left auto
// 	margin-right auto
// 	img
// 		width 100%
		// border-radius 4px

// BODY
// .form-section
// 	// padding-top 20px
// 	padding-left global-padding-left
// 	padding-right global-padding-right
// 	// padding-bottom 20px
// 	width 100%

// .sumary
// 	border-top: 1px solid #d3d3d4;
// 	border-bottom: 1px solid #d3d3d4;
// 	padding-left global-padding-left
// 	padding-right global-padding-right
// 	padding-top 5px
// 	padding-bottom 5px

// FOOTER
// .footer
// 	padding-left global-padding-left
// 	padding-right global-padding-right
// 	padding-bottom global-padding-bottom
