
// LAYOUT
.layout
	display table
	height 100%
	width 100%
	&-header
		display table-header-group
	&-body
		display table-row-group
	&-bottom
		display table-footer-group


// HEADER
.header
	padding-top 20px
	padding-left 30px
	padding-right 30px
	padding-bottom 5px
.logo
	width 68px
	display table
	margin-left auto
	margin-right auto
	img
		width 100%
		// border-radius 4px

// BODY
.form-section
	// padding-top 20px
	padding-left 20px
	padding-right 20px
	padding-bottom 20px
	width 100%

.sumary
	border-top: 1px solid #d3d3d4;
	border-bottom: 1px solid #d3d3d4;
	padding-left 20px
	padding-right 20px
	padding-top 5px
	padding-bottom 5px
	text-align center

// FOOTER
.footer
	padding-left 20px
	padding-right 20px
	padding-bottom 20px
