
// TEXTS

.text
	font-weight 600
	font-size: 14.5px;

.title
	font-size 17px
	font-weight 600
	text-align center
	padding-bottom: 2px;
	
.subtitle
	font-size: 14px;
	text-align: center;
	font-weight: 400;