
// Colors
purple-color = #4D148C

gray-light 		= #F8F8F8
gray-light-dark = #F2F2F2
gray-dark 		= #58595B

// Partner Colors
partner-color = #f99945

// Padding
global-padding-top 	= 20px
global-padding-left	= 30px
global-padding-right	= 30px
global-padding-bottom	= 30px