/**
* **************************************
* HEADER
* **************************************
*/
 .header
 	height 165px
 	padding-top 35px
 	background-image linear-gradient(#f5f5f7, #e9e9ea)
 	border-bottom 1px solid #d3d3d4

 .logo
 	display table
 	margin auto
 	padding-bottom 5px

 	img
 		width 68px
 		border-radius 5px


/**
* **************************************
* LANGUAGE
* **************************************
*/

.form__language__inner
    p
        font-size 12px
        i
            font-size 13px

.form__dropdown
    position relative
    height 36px
    margin-bottom 10px
    &__elements
        border-radius 6px
        background white
        &__open
            position absolute
            width 100%
            z-index 1
            top -6px
            box-shadow 0 7px 20px rgba(0,0,0,0.25)
            .fa-angle-down
                display none
        &--gray
            width 80px
            background: initial
            span
            .form__dropdown__element
                &:hover
                    background #ddd
            .tsc-form-body-optionhover
                transition .35s
                background #000
        &__element
            display block
            &.selected
                display block
.form
    &__language
        top: 5px;
        left 5px
        cursor pointer
        position absolute
        z-index: 1;
        height 22px
        img
            width: 26px;
        &__inner
            padding: 3px;
            display: flex;
            align-items: center;
            width 22px
            left 8px
            top 8px
            p
                display: flex;
                align-items: center;
                font-size: 10px;
                color: rgba(#666, .75);
                i
                    padding-left: 2px
                    margin-top: 2px
                    font-size: 11px

/**
* **************************************
* CLOSED
* **************************************
*/
.form
    &__closed
        right 8px
        width 22px
        top 8px
        cursor pointer
        position absolute
        z-index: 1;
        height 22px
        img
            width 100%
            min-width 26px
