/**
* **************************************
* LAYOUT
* **************************************
*/

.layout
	display table
	height 100%
	width 100%
	background #f5f5f7
	&__header
		display table-header-group

	&__body
		display table-row-group

	&__bottom
		display table-footer-group
